@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap');

.main__wrapper {
    width: 1440px;
    margin: 0 auto;
}

.wrapper {
    width: 1170px;
    margin: 122px 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 40px;
    
    h3 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;        
        color: #898F8F;
        margin-bottom: 15px;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 60px;
        line-height: 66px;
        text-align: center;
        text-transform: uppercase;
        color: #FFCC00;
        margin-bottom: 40px;
    }
}