@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap");
.info .info__text h2, .title h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.info .info__text-desc, .info .info__text h3, .title h3 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
}

.main__wrapper {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  width: 1170px;
  margin: 122px 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  margin-bottom: 40px;
}
.title h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #898F8F;
  margin-bottom: 15px;
}
.title h1 {
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  text-align: center;
  text-transform: uppercase;
  color: #FFCC00;
  margin-bottom: 40px;
}

.info {
  width: 1030px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info .vertical {
  border: none;
  border-left: 1px solid #FFCC00;
  height: 560px;
  width: 1px;
}
.info .info__text {
  width: 430px;
  text-align: center;
}
.info .info__text h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
  margin-bottom: 30px;
}
.info .info__text .aftertitle {
  width: 100px;
  border: 1px solid #FFCC00;
  margin-bottom: 30px;
}
.info .info__text h3 {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #666666;
}
.info .info__text-icon {
  margin-bottom: 49px;
}
.info .info__text-icon .icon__link {
  margin-left: 5px;
  text-decoration: none;
}
.info .info__text-icon .icon__svg:hover circle {
  stroke: #FFCC00;
}
.info .info__text-icon .icon__svg:hover path {
  fill: #FFCC00;
}
.info .info__text-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 20px;
}
.info .aftertext {
  width: 50px;
  border: 1px dashed #FFCC00;
  margin-bottom: 25px;
}
.info button {
  width: 118px;
  height: 24px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #666666;
  background-color: white;
  border: 1px solid #FFCC00;
}
.info button:hover {
  opacity: 0.65;
}